
<section id="cards" class="mx-auto py-1" style="width: 80%;">
    <div class="card my-5 pb-4 shadow rounded" style="background-color: rgba(255, 255, 255, 0.569);">
      <div class="card-body px-5 pt-4">
        <h3 class="card-title">{{.Title}}</h3>
        <h5 class="card-title"> </h5>
        <h6 class="card-subtitle fst-italic ps-1 mt-2 mb-5">
          <i class="fa-regular fa-calendar-check" style="margin-right: 0.5rem;"></i>{{.Date.Format "2006-01-02"}}
        </h6>
        <div class="card-text fs-5">{{.Content}}</div>
        <div class="postfooter text-center fs-5 mt-5 pt-5">
          {{ with .NextInSection}}<a href="{{ .RelPermalink }}">{{- .Title -}}</a
          >&nbsp;<< &emsp;&emsp;{{ end }} 
          {{ with .PrevInSection}} &emsp;&emsp; >>&nbsp;
          <a href="{{ .RelPermalink }}">{{- .Title -}}</a>{{ end }}
        </div>

      </div>
  </section>
